{% extends "includes/assync_wrapper.html" %}
{% load staticfiles %}

{% block head %}
    <script src="{% static 'Course/script.js' %}"></script>
    <link   rel="stylesheet"
            type="text/css"
            href="{% static 'Course/styles.css' %}" />
    <link   rel="stylesheet"
            href="{% static 'Adm/icons/css/font-awesome.min.css' %}" />
{% endblock %}

{% block body %}
	{% if sub %} 
		Mensagem enviada com sucesso!
	{% else %}
		{% if exc %} 
			{{ exc }}
		{% else %}
			<form id="question_form" action="" method="post">
				{{ form }}
				{% csrf_token %}
				<input type="submit" value="Submit"></input>
			</form>
		{% endif %}
	{% endif %}
	<div id="qid_{{ question_id }}"></div>
	<div id="lid_{{ lesson_id }}_sn_{{ slide_number }}"></div>
	<div id="eid_{{ exercise_id }}"></div>

{% endblock %}


