#login_left
{
    position: relative;
    float: right;
    width: 50%;
}

#login_right
{
    position: relative;
    float: right;
    width: 50%;
}

#login_center
{
    vertical-align: middle;
}

#logo
{
	opacity:0.9;
	padding:10%;
	width:100px;
	height:30px; 
}
