{% extends "includes/wrapper.html" %}
{% load staticfiles %}

{% block title %} SALiE Login {% endblock %}

{% block head %}
    <link   rel="stylesheet"
            type="text/css"
            href="{% static 'Login/styles.css' %}" />
{% endblock %}

{% block content %} 

    {% if error %}
        <div class="error">
            {{ error }}
        </div>
    {% endif %}

    <div class="center-block">
        <form method="POST" action="/{{ target }}">

            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-5">{{ form.username }}</div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-5">{{ form.password }}</div>
                </div>
            </div>
            <div></div>
            {% csrf_token %}
            <div class="row">
                <div class="col-md-2 col-md-offset-5 text-center">
                    <button type="submit" name="login_form" 
                            class="btn btn-default"/>Acessar
                    </button> 
                </div>
            </div>

            <div class="row">
                <div class="checkbox">
                    <div class="col-md-2 col-md-offset-5">
                        <label><input type="checkbox"> Lembrar login de acesso?    
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


