{% load staticfiles %}

<ul class="nav nav-tabs">
    {% if user == "Professor" %}
        <div id="icon-message">
            <i class="fa fa-envelope"></i>
        </div>
    {% endif %} 
    
    {% if user %}
        <li role="presentation" class="field active">
            <a href="/logout">{{ DICT.LOGOUT }}</a>
        </li>

        <li role="presentation" class="field">
            <a href="/profile">{{ user.name }}</a>
        </li>

        <li role="presentation" class="field">
            <a href="/">{{ DICT.HOME }}</a>
        </li>
    {% else %}
        <li role="presentation" class="field active"/><a href="/">SALiE</a>
        <li role="presentation" class="field col-md-offset-9"/><a href="/about">Quem Somos</a>
 
    {% endif %}
</ul>






