{% load staticfiles %}


{% if user == "Professor" %}
    <div id="icon-message">
        <i class="fa fa-envelope"></i>
    </div>
{% endif %} 


<div class="container">
    <a title="Salie" class="navbar-brand" href="/"></a>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse navbar-main collapse main-navigation">
        <ul id="menu-primary" class="nav navbar-nav"></ul>
        <ul class="nav navbar-nav navbar-right second-navigation">
            {% if user %}
                <li>
                    <a href="/">{{ DICT.HOME }}</a>
                </li>
                <li>
                    <a href="/profile">{{ user.name }}</a>
                </li>
                <li>
                    <a href="/logout">{{ DICT.LOGOUT }}</a>
                </li>
            {% else %}
                <li>
                    <a href="/about">Quem Somos</a>
                </li>
            {% endif %}                
        </ul>
    </div>
</div>

    

