{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> {% block title %} {% endblock %} </title>
        <script src="{% static 'vendor/jquery/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'vendor/jquery/jquery-ui-1.10.4.custom.min.js' %}">
        </script>
        <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
        <link   rel="stylesheet"
                type="text/css"
                href="{% static 'vendor/jquery/jquery-ui-1.10.4.custom.min.css' %}"/>
        <script src="{% static 'vendor/jquery/plugins/cookie/jquery.cookie.js' %}"></script>
        
        <link rel="stylesheet" 
              type="text/css" 
              href="{% static 'vendor/bootstrap/bootstrap.min.css' %}" />

        <link   rel="stylesheet" 
                type="text/css" 
                href="{% static 'vendor/styles.css' %}" />

        {% block head %}{% endblock %}
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            {% include "includes/header.html" %}
        </div>
        <div class="container margin-top">
            {% block content %}{% endblock %}
        </div>

        <footer>
            {% include "includes/footer.html" %}
        </footer>

    </body>
</html>
